@import "tailwindcss";

@theme {
  --color-Cyan-600: #4d96a9;
  --color-Cyan-300: #8fe3f9;
  --color-Purple-600: #855fb1;
  --color-Purple-300: #d9b8ff;
  --color-Slate-900: #28283d;
  --color-Slate-600: #87879d;
  --color-Slate-300: #d1d1df;
  --color-White: #fafafa;
  --color-Purple-hover: #b18bdd;
  --color-Cyan-hover: #71c0d4;

  /* Typography */
  --font-redHatDisplay: "Red Hat Display", "serif";

  /* Breakpoint 500px */
  --breakpoint-500p: 29.3rem;
}

@layer components {
  .footerImg {
    background-image: url("./assets/mobile/image-footer.jpg");
    background-size: cover;
    width: 100%;
    background-position: top;
  }

  @media (min-width: 768px) {
    .footerImg {
      background-image: url("./assets/tablet/image-footer.jpg");
    }
  }

  @media (min-width: 1024px) {
    .footerImg {
      background-image: url("./assets/desktop/image-footer.jpg");
    }
  }
}
